<ion-view view-title="Events in Canada">
  <ion-content>
    <label class="item item-input">
      <span class="input-label">Date</span>
      <input type="date" ng-model="startDate">
    </label>

    <label class="item item-input">
      <span class="input-label">Date</span>
      <input type="date" ng-model="endDate">
    </label>

    <button id="searchBtn" class="button button-block button-positive" ng-click="eventsSearched()">
      Search
    </button>

    <ion-item ng-repeat="event in eventsWithinDates">

      <h3>{{event.title}}</h3>
      <p>{{event.venue}}</p>
      <p>{{event.address}}, {{event.city}}</p>



    </ion-item>
  </ion-content>



</ion-view>